 <% provide(:title, 'Books') %>

<div class="books">
  <div id="my_books">
    <h1>My Books</h1>
    <hr />
      <div class="thumbnails book mybooks">
        <a href="#" class="thumbnail">
          <img class="book_cover" src="/assets/theleanstartup.jpg" />
          <h3 class="title">
            The Lean Startup
          </h3>
          <p class="author">
            by 
            Eric Ries
          </p>
          <a href="/books/<%= !Book.first.nil? ? Book.first.id : "" %>">
            <button class="btn">Read</button>
          </a>
          <a href="/books/<%= !Book.first.nil? ? Book.first.id : "" %>">
            <button class="btn">Info</button>
          </a>
           <img data-src="holder.js/300x200" alt=""> 
        </a>
       <!-- <li class="span4">
          <a href="#" class="thumbnail">
            Add more books below!
          </a>
        </li>
      -->
      </div>
    <% covers = ["taleoftwocities.jpg","barchestertowers.jpg","cranford.jpg", "daisymiller.jpg","danielderonda.jpg","davidcopperfield.jpg","davidthorne.jpg","dracula.jpg", "dubliners.jpg"] %>
    <% current_user.books.each_with_index do |b,i| %>
      <div class="thumbnails book mybooks">
        <a href="#" class="thumbnail">
          <img class="book_cover" src="/assets/<%= covers[i] %>" />
          <h3 class="title">
            <%= b.title %>
          </h3>
          <p class="author">
            by 
            <%= b.author %>
          </p>
          <a href="/books/<%= b.id %>">
            <button class="btn">Read</button>
          </a>
          <a href="/books/<%= b.id %>">
            <button class="btn">Info</button>
          </a>
           <img data-src="holder.js/300x200" alt=""> 
        </a>
      </div>
    <% end %>
<!--      <form name="myform" action="/books?pearson_id=6x388PneTa3m9y" method="POST">
        <input type="submit" value="Test" />
      </form>
-->
  </div>
  <div id="sug_books">
    <h1>Suggested Books</h1>
    <hr />
    <% @books["books"].each_with_index do |b,i| %>
      <div class="thumbnails book" id="a<%= remove_numbers(b["id"]) %>">
          <a href="#" class="thumbnail">
            <img class="book_cover" src="/assets/<%= covers[i] %>" />
            <h3 class="title">
              <%= b["title"] %>
            </h3>
            <p class="author">
              by 
              <% b["authors"].each_with_index do |a,i| %>
                <%= a["full_name"] %>
                <% if i < b["authors"].size - 1 %>
                  ,
                <% end %>
              <% end %>
            </p>
          <form name="myform" class="book-form" action="/books?pearson_id=<%= b["id"] %>" method="POST">
            <button type="submit" class="btn">Buy</button>
            <a href="/books/<%= b["id"] %>">
              <button class="btn">Info</button>
            </a>
          </form>
         
           <img data-src="holder.js/300x200" alt=""> 
          </a>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(function(){
  $('#nav-books').addClass('active');
  <% current_user.books.each do |b| %>
    $('#a<%= remove_numbers(b.pearson_id) %>').hide();
  <% end %>
});
</script>